.head {
    display: flex;
    width: 100%; 
    max-width: 1400px;
}
.head_2 {
    display: flex;
    width: 100%; 
    max-width: 1400px;
}

.novel_and_vue {
    display: flex; 
    width: 100%; 
    max-width: 1400px;
}

h1 {
    margin-right: 200px;
}

.page_tool {

    width: 100%; 
    max-width: 1400px;
    display: flex;
    margin-right: auto;

   }
   
.tool {
    width: auto;
    margin: 2px;
   }

.novel {
    margin: 20px;
    width: 45%;
    height:auto
}

.vue {
    width: 45%;
}