.custom_button_bokeh button.bk.bk-btn.bk-btn-success {
    color:white;
    font-size:10pt;
    background-color: #9F86BC;
    border-color: #9F86BC;
}

.custom_button_bokeh button.bk.bk-btn.bk-btn-success:active {
    color:#9F86BC;
    font-size:10pt;
    background-color: white;
    border-color: #9F86BC;
}

.custom_dropdown button.bk.bk-btn.bk-btn-warning{
    color: white;
    font-size:10pt;
    background-color:#9F86BC;
    border-color: #9F86BC;
}

.custom_dropdown button.bk.bk-btn.bk-btn-warning:active {
    color:#9F86BC;
    font-size:10pt;
    background-color: white;
    border-color: #9F86BC;
}


.head {
    display: flex;
    width: 100%; 
    max-width: 1400px;
}
.head_2 {
    display: flex;
    width: 100%; 
    max-width: 1400px;
}

.novel_and_vue {
    display: flex; 
    width: 100%; 
    max-width: 1400px;
}

.design {
    margin-right: 5px;
}

h1 {
    margin-right: 200px;
    color:#76487A;
}

.page_tool {

    width: 100%; 
    max-width: 1400px;
    display: flex;
    margin-right: auto;

   }
   
.tool {
    width: auto;
    margin: 2px;
   }

.novel {
    margin: 20px;
    width: 45%;
    height:auto
}

.vue {
    width: 45%;
}

p {
    font-size: 11px;
}

footer {
    position: fixed;
}
